.center .slick-slide .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(37, 35, 43, 0.7);
}

.center .slick-center .overlay {
    display: none;
}

.center .box {
    position: relative;
}

.center .img {
    min-width: 500px;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.center .slick-prev,
.center .slick-next {
    width: 48px;
    height: 48px;
    z-index: 5;
}

.center .slick-prev {
    left: 28%;
}

.center .slick-next {
    right: 28%;
}

.center .slick-prev::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/projects/project/arrow-left.svg');
}

.center .slick-next::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/projects/project/arrow-right.svg');
}

@media (max-width: 1440px) {
    .center .slick-prev {
        left: 10%;
    }
    
    .center .slick-next {
        right: 10%;
    }
}

@media (max-width: 755px) {

    .center .slick-list {
        overflow-x: clip;
        overflow-y: visible;
    }

    .center .slick-center {
        transition: all .5s;
    }

    .center .slick-current {
        transform: translateY(-40px);
    }
    
    .center .img {
        min-width: 0;
        width: 100%;
        max-width: 300px;
        max-height: 240px;
    }

    .center .slick-prev {
        top: auto;
        left: 35%;
        bottom: -40px;
    }
    
    .center .slick-next {
        top: auto;
        right: 35%;
        bottom: -40px;
    }
}