.section {
    padding: 24px 0;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.item {
    display: flex;
    gap: 0 8px;
    align-items: center;
    padding: 20px 16px;
    flex-basis: 416px;
    background-color: #302E36;
    border-left: 1px solid #BDBDBD;
}

@media (max-width: 1340px) {
    .list {
        gap: 16px;
    }

    .item {
        width: 100%;
        min-width: 230px;
    }
}

@media (max-width: 800px) {
    .list {
        flex-wrap: wrap;
    }

    .item {
        flex-basis: 328px;
    }
}

@media (max-width: 550px) {
    .section {
        padding: 12px 0;
    }
}