.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.4) 31%, rgba(102, 102, 102, 0) 100%)
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav {
    display: flex;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 0 58px;
}