.footer {
    background-color: #1A1A1A;
    border-top: 1px solid #BDBDBD;
}

.top {
    padding: 48px 0 24px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.bottom {
    padding: 16px;
    background-color: #000;
}

.text {
    text-align: center;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 42px 0;
    }
}

@media (max-width: 660px) {
    .inner {
        gap: 32px 0;
    }
}