.section {
    padding: 24px 0;
    position: relative;
}

.link {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
}

.text {
    margin: 8px 0 32px;
}

.list {
    display: flex;
    gap: 16px;
}

.item {
    position: relative;
    width: 100%;
}

.img {
    width: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    left: 8px;
    bottom: 27px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}

@media (max-width: 1340px) {
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        max-height: 280px;
    }
}

@media (max-width: 600px) {
    .section {
        padding: 12px 0;
    }

    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}